$fontLato = '../fonts/lato'
$fontCampton = '../fonts/Campton'

@font-face
  font-family: 'Campton'
  font-weight: normal
  src: url($fontCampton + '/Rene.Bieder_Campton.Book_-1.ttf') format('ttf'),
       url($fontCampton + '/Rene.Bieder_Campton.Book_-1.woff2') format('woff2'),
       url($fontCampton + '/Rene.Bieder_Campton.Book_-1.woff') format('woff') 

@font-face
  font-family: 'Campton'
  font-weight: bold
  src: url($fontCampton + '/Rene.Bieder_Campton.Bold_-1.ttf') format('ttf'),
       url($fontCampton + '/Rene.Bieder_Campton.Bold_-1.woff2') format('woff2'),
       url($fontCampton + '/Rene.Bieder_Campton.Bold_-1.woff') format('woff')

@font-face
  font-family: 'Campton'
  font-weight: 500
  src: url($fontCampton + '/Rene.Bieder_Campton.Medium-1.ttf') format('ttf'),
       url($fontCampton + '/Rene.Bieder_Campton.Medium-1.woff2') format('woff2'),
       url($fontCampton + '/Rene.Bieder_Campton.Medium-1.woff') format('woff') 

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 300
  src: local('Lato Light'),
        local('Lato-Light'),
        url($fontLato + '/Light.woff2') format('woff2'),
        url($fontLato + '/Light.woff') format('woff')

@font-face
  font-family: 'Lato'
  font-style: italic
  font-weight: 300
  src: local('Lato Light Italic'),
        local('Lato-LightItalic'),
        url($fontLato + '/LightItalic.woff2') format('woff2'),
        url($fontLato + '/LightItalic.woff') format('woff')

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: normal
  src: local('Lato Regular'),
        local('Lato-Regular'),
        url($fontLato + '/Regular.woff2') format('woff2'),
        url($fontLato + '/Regular.woff') format('woff')

@font-face
  font-family: 'Lato'
  font-style: italic
  font-weight: normal
  src: local('Lato Italic'),
        local('Lato-Italic'),
        url($fontLato + '/Italic.woff2') format('woff2'),
        url($fontLato + '/Italic.woff') format('woff')

@font-face
  font-family: 'Lato'
  font-style: italic
  font-weight: 600
  src: local('Lato SemiBold Italic'),
        local('Lato-SemiBoldItalic'),
        url($fontLato + '/SemiboldItalic.woff2') format('woff2'),
        url($fontLato + '/SemiboldItalic.woff') format('woff')

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 600
  src: local('Lato SemiBold'),
        local('Lato-SemiBold'),
        url($fontLato + '/Semibold.woff2') format('woff2'),
        url($fontLato + '/Semibold.woff') format('woff')

@font-face
  font-family: 'Lato'
  font-style: italic
  font-weight: 700
  src: local('Lato Bold Italic'),
        local('Lato-BoldItalic'),
        url($fontLato + '/BoldItalic.woff2') format('woff2'),
        url($fontLato + '/BoldItalic.woff') format('woff')

@font-face
  font-family: 'Lato'
  font-style: normal
  font-weight: 700
  src: local('Lato Bold'),
        local('Lato-Bold'),
        url($fontLato + '/Bold.woff2') format('woff2'),
        url($fontLato + '/Bold.woff') format('woff')

