.v-timeline--align-top .v-timeline-item__dot
    box-shadow: none

@media screen and (max-width 600px)
  .v-timeline--dense:not(.v-timeline--reverse):before
    left calc(23px - 1px)

  .v-timeline--dense .v-timeline-item__body
    max-width calc(100% - 45px)

  .v-timeline-item__divider
    min-width 45px
